<%- include('partials/header') %>
<h1>Hi {{vm.user.firstName}}!!</h1>

    <div class="form-container">

     <% if(locals.error) { %>
    <div class="alert alert-danger">
        <%= error %>
    </div>
    <% } %>
        <% if(locals.success) { %>
     <div class="alert alert-success">
     <%= success %>
     </div>
     <% } %>
                        <div ng-app="login_ist" ng-controller="loginCtrl">
                            <div data-role="controlgroup" data-type="horizontal">
                                <button class="loginbutton" ng-click="myFunc()">login</button>
                                <a href="#" class="myButton">Ready</a>
                                <a href="#" class="myButton">answer</a>
                                <a href="#" class="myButton">call</a>
                                <a href="#" class="myButton">conference</a>
                                <a href="#" class="myButton">hold</a>
                                <a href="#" class="myButton">transfer</a>
                            </div>
                            </div>
                            <div class="form-container" >
                                 
                                <form method="post">

                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <div data-role="controlgroup" data-type="horizontal">
                                            <button type="submit" class="loginSubmitButton">Login</button>                                 
                                            <a href="/register" class="register">Register</a>
                                        </div>
                                    </div>
                                </form>


                                <hr>
                                <video width="300" height="400" controls>
                                    <source src="movie.mp4" type="video/mp4">
                                    <source src="movie.ogg" type="video/ogg"> Your browser does not support the video tag.
                                </video>
                                <iframe src="http://localhost:8080" width="650" height="400"></iframe>
                            </div>
                        </div>
    </div>
    <%- include('partials/footer') %>